@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

#meowtitle {
    font-size: 4rem;
    font-family: 'Roboto slab', sans-serif;
    font-weight: 100;
    padding: 0.2rem;
    color: rgb(62, 79, 60);
}

#meowtitle:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

#meowtitle::before {
    content: "Meow meow store 🐱";
    display: block;
}

#meowtitle:hover::before {
    content: "Meow meow store 😻";
    font-family: 'Tilt Neon', sans-serif;
    font-weight: 900;
}

.intro {
    padding: 4rem;
    align-items: center;
}

#WelcomeText {
    font: 2rem bold ;
}