@font-face {
    font-family: 'catfont';
    src:  url('../assets/Fonts/CatCafe.ttf') format('cat');
}  
#meowtitle {
    font-size: 4rem;
}

#meowtitle:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

#meowtitle::before {
    content: "Meow meow store 🐱";
    display: block;
}

#meowtitle:hover::before {
    content: "Meow meow store 😻";
}

.intro {
    padding: 4rem;
    align-items: center;
}

#WelcomeText {
    font: 2rem bold ;
}